---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: Always
  AfterFunction: true
  AfterNamespace: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
KeepEmptyLinesAtTheStartOfBlock: false
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false
SortIncludes: true
IncludeBlocks: Regroup
ReflowComments: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
...
