html,body{height: 100%;}::cue{white-space:normal}
[stylesheet-group="0"]{}
body{margin:0;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);}
input::-webkit-search-cancel-button,input::-webkit-search-decoration,input::-webkit-search-results-button,input::-webkit-search-results-decoration{display:none;}
[stylesheet-group="1"]{}
.css-146c3p1{background-color:rgba(0,0,0,0.00);border:0 solid black;box-sizing:border-box;color:rgba(0,0,0,1.00);display:inline;font:14px -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;list-style:none;margin:0px;padding:0px;position:relative;text-align:start;text-decoration:none;white-space:pre-wrap;word-wrap:break-word;}
.css-175oi2r{align-items:stretch;background-color:rgba(0,0,0,0.00);border:0 solid black;box-sizing:border-box;display:flex;flex-basis:auto;flex-direction:column;flex-shrink:0;list-style:none;margin:0px;min-height:0px;min-width:0px;padding:0px;position:relative;text-decoration:none;z-index:0;}
.css-1jxf684{background-color:rgba(0,0,0,0.00);border:0 solid black;box-sizing:border-box;color:inherit;display:inline;font:inherit;list-style:none;margin:0px;padding:0px;position:relative;text-align:inherit;text-decoration:none;white-space:inherit;word-wrap:break-word;}
.css-9pa8cd{bottom:0px;height:100%;left:0px;opacity:0;position:absolute;right:0px;top:0px;width:100%;z-index:-1;}
[stylesheet-group="2"]{}
.r-13awgt0{flex:1;}
.r-17gur6a{border-bottom-left-radius:0px;border-bottom-right-radius:0px;border-top-left-radius:0px;border-top-right-radius:0px;}
.r-1867qdf{border-bottom-left-radius:16px;border-bottom-right-radius:16px;border-top-left-radius:16px;border-top-right-radius:16px;}
.r-1adg3ll{display:block;}
.r-1fuqb1j{border-bottom-left-radius:24px;border-bottom-right-radius:24px;border-top-left-radius:24px;border-top-right-radius:24px;}
.r-1jkafct{border-bottom-left-radius:2px;border-bottom-right-radius:2px;border-top-left-radius:2px;border-top-right-radius:2px;}
.r-1phboty{border-bottom-style:solid;border-left-style:solid;border-right-style:solid;border-top-style:solid;}
.r-1pp0k63{border-bottom-left-radius:0.01px;border-bottom-right-radius:0.01px;border-top-left-radius:0.01px;border-top-right-radius:0.01px;}
.r-1udh08x{overflow-x:hidden;overflow-y:hidden;}
.r-4iw3lz{border-bottom-width:0;border-left-width:0;border-right-width:0;border-top-width:0;}
.r-4qtqp9{display:inline-block;}
.r-6koalj{display:flex;}
.r-bztko3{overflow-x:visible;overflow-y:visible;}
.r-crgep1{margin:0px;}
.r-hvic4v{display:none;}
.r-krxsd3{display:-webkit-box;}
.r-rs99b7{border-bottom-width:1px;border-left-width:1px;border-right-width:1px;border-top-width:1px;}
.r-sdzlij{border-bottom-left-radius:9999px;border-bottom-right-radius:9999px;border-top-left-radius:9999px;border-top-right-radius:9999px;}
.r-t60dpp{padding:0px;}
.r-wwvuq4{padding:0;}
.r-xoduu5{display:inline-flex;}
.r-ywje51{margin:auto;}
.r-z2wwpe{border-bottom-left-radius:4px;border-bottom-right-radius:4px;border-top-left-radius:4px;border-top-right-radius:4px;}
[stylesheet-group="2.1"]{}
.r-1559e4e{padding-bottom:2px;padding-top:2px;}
.r-1fkl15p{padding-left:32px;padding-right:32px;}
.r-3o4zer{padding-left:12px;padding-right:12px;}
.r-3pj75a{padding-left:16px;padding-right:16px;}
.r-cxgwc0{padding-left:24px;padding-right:24px;}
.r-dd0y9b{padding-bottom:20px;padding-top:20px;}
.r-ddtstp{margin-bottom:0px;margin-top:0px;}
.r-dp7rxi{padding-bottom:40px;padding-top:40px;}
.r-f8sm7e{margin-left:auto;margin-right:auto;}
.r-n7gxbd{padding-left:4px;padding-right:4px;}
.r-s49dbf{margin-bottom:1px;margin-top:1px;}
.r-sjygvo{padding-left:1em;padding-right:1em;}
[stylesheet-group="2.2"]{}
.r-15peodp{right:-9999px;}
.r-19qo34d{left:-9999px;}
.r-1ca1ndr{margin-left:0.5em;}
.r-1ez5h0i{margin-left:4px;}
.r-1gs4q39{margin-right:4px;}
.r-1kkk96v{margin-left:8px;}
.r-1kpi4qh{margin-left:0.075em;}
.r-1l2kgy{margin-right:0.5em;}
.r-1q6cnnd{right:-2px;}
.r-1wron08{margin-right:8px;}
.r-3t4u6i{margin-left:2px;}
.r-45ll9u{left:50%;}
.r-5f1w11{left:-2px;}
.r-k4bwe5{margin-right:0.075em;}
.r-o59np7{padding-right:8px;}
.r-ocobd0{right:50%;}
.r-qjj4hq{padding-left:8px;}
.r-x1x4zq{margin-right:2px;}
[stylesheet-group="3"]{}
.r-105ug2t{pointer-events:auto!important;}
.r-109y4c4{height:1px;}
.r-10ef88u{min-width:700px;}
.r-10ptun7{height:16px;}
.r-10v3vxq{transform:scaleX(-1);}
.r-117bsoe{margin-bottom:20px;}
.r-11c0sde{margin-top:24px;}
.r-11f8fnl{background-color:rgba(180,180,182,0.50);}
.r-11j9u27{visibility:hidden;}
.r-1202g5r{height:90vh;}
.r-12181gd{box-shadow:0 0 2px rgba(0,0,0,0.03) inset;}
.r-1279nm1{min-height:400px;}
.r-12hfotv{width:700px;}
.r-12sks89{min-height:22px;}
.r-12vffkv>*{pointer-events:auto;}
.r-12vffkv{pointer-events:none!important;}
.r-12ym1je{width:18px;}
.r-135wba7{line-height:24px;}
.r-13qz1uu{width:100%;}
.r-13wfysu{-webkit-text-decoration-line:none;text-decoration-line:none;}
.r-146iojx{max-width:300px;}
.r-1472mwg{height:24px;}
.r-14j79pv{color:rgba(83,100,113,1.00);}
.r-14lw9ot{background-color:rgba(255,255,255,1.00);}
.r-158ssxm{max-height:calc(64px * 15);}
.r-15ysp7h{min-height:32px;}
.r-16dba41{font-weight:400;}
.r-16y2uox{flex-grow:1;}
.r-176fswd{transform:translateX(-50%) translateY(-50%);}
.r-1777fci{justify-content:center;}
.r-17bb2tj{animation-duration:0.75s;}
.r-17gznlh{animation-name:r-t2lo5v;}
.r-17leim2{background-repeat:repeat;}
.r-17s6mgv{justify-content:flex-end;}
.r-18jsvk2{color:rgba(15,20,25,1.00);}
.r-18tzken{width:56px;}
.r-18u37iz{flex-direction:row;}
.r-18yzcnr{height:22px;}
.r-19qs0lw{animation-name:r-1qpf3yi;}
.r-19wmn03{width:20px;}
.r-19yznuf{min-height:52px;}
.r-1abnn5w{animation-play-state:paused;}
.r-1acpoxo{width:36px;}
.r-1ad0z5i{word-break:break-all;}
.r-1awozwy{align-items:center;}
.r-1b43r93{font-size:14px;}
.r-1betnmo{max-width:672px;}
.r-1blnp2b{width:72px;}
.r-1blvdjr{font-size:23px;}
.r-1ceczpf{min-height:24px;}
.r-1cwl3u0{line-height:16px;}
.r-1d2f490{left:0px;}
.r-1ddef8g{-webkit-text-decoration-line:underline;text-decoration-line:underline;}
.r-1dn12g7{line-height:48px;}
.r-1dum35f{-moz-transition-property:opacity, height;-webkit-transition-property:opacity, height;transition-property:opacity, height;}
.r-1ebb2ja{list-style:none;}
.r-1ff274t{text-align:right;}
.r-1ffj0ar{background-color:rgba(0,0,0,0.40);}
.r-1fu8b7j{height:712px;}
.r-1g83rmp{animation-name:r-7bj9g2;}
.r-1gkfh8e{font-size:11px;}
.r-1h0z5md{justify-content:flex-start;}
.r-1h8ys4a{padding-top:4px;}
.r-1habvwh{align-items:flex-start;}
.r-1hjwoze{height:18px;}
.r-1iln25a{word-wrap:normal;}
.r-1inkyih{font-size:17px;}
.r-1ipicw7{width:300px;}
.r-1iusvr4{flex-basis:0px;}
.r-1janqcz{width:16px;}
.r-1jaylin{width:-webkit-max-content;width:-moz-max-content;width:max-content;}
.r-1k78y06{font-family:Tahoma, Arial, sans-serif;}
.r-1kihuf0{align-self:center;}
.r-1ldzwu0{animation-timing-function:linear;}
.r-1loqt21{cursor:pointer;}
.r-1mlwlqe{flex-basis:auto;}
.r-1mrlafo{background-position:0;}
.r-1muvv40{animation-iteration-count:infinite;}
.r-1mwlp6a{height:56px;}
.r-1nao33i{color:rgba(231,233,234,1.00);}
.r-1niwhzg{background-color:rgba(0,0,0,0.00);}
.r-1ny4l3l{outline-style:none;}
.r-1oifz5y{background-color:rgba(170,17,0,1.00);}
.r-1oszu61{align-items:stretch;}
.r-1otgn73{touch-action:manipulation;}
.r-1p0dtai{bottom:0px;}
.r-1pi2tsx{height:100%;}
.r-1pjcn9w{max-width:80vw;}
.r-1potc6q{top:5%;}
.r-1ps3wis{min-width:44px;}
.r-1pz39u2{align-self:stretch;}
.r-1qd0xha{font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;}
.r-1qi8awa{min-width:36px;}
.r-1r5jyh0{min-height:130px;}
.r-1r8g8re{height:36px;}
.r-1s2hp8q{min-height:26px;}
.r-1sxrcry{background-size:auto;}
.r-1tl8opc{font-family:"Segoe UI",Meiryo,system-ui,-apple-system,BlinkMacSystemFont,sans-serif;}
.r-1to6hqq{background-color:rgba(255,212,0,1.00);}
.r-1tsuqlv{max-height:100vh;}
.r-1ttztb7{text-align:inherit;}
.r-1udbk01{text-overflow:ellipsis;}
.r-1v2oles{top:50%;}
.r-1vmecro{direction:rtl;}
.r-1vr29t4{font-weight:800;}
.r-1wb8bfx{text-decoration-thickness:2px;}
.r-1wbh5a2{flex-shrink:1;}
.r-1wvb978{font-feature-settings:'ss01' on;}
.r-1wyyakw{z-index:-1;}
.r-1xcajam{position:fixed;}
.r-1xfddsp{min-height:300px;}
.r-1xk2f4g{clip:rect(1px, 1px, 1px, 1px);}
.r-1xnzce8{-moz-user-select:text;-webkit-user-select:text;user-select:text;}
.r-1xvli5t{height:1.25em;}
.r-1y7e96w{min-width:22px;}
.r-1ye8kvj{max-width:600px;}
.r-1yef0xd{animation-name:r-11cv4x;}
.r-1yjpyg1{font-size:31px;}
.r-1ykxob0{top:60%;}
.r-2o02ov{margin-top:40px;}
.r-2tavb8{background-color:rgba(0,0,0,0.60);}
.r-2yi16{min-height:36px;}
.r-36ujnk{font-style:italic;}
.r-37tt59{line-height:32px;}
.r-3s2u2q{white-space:nowrap;}
.r-417010{z-index:0;}
.r-4gszlv{background-size:cover;}
.r-4hwcpe{font-family:Vazirmatn, Tahoma, Arial, sans-serif;}
.r-4wgw6l{min-width:32px;}
.r-54znze{color:rgba(239,243,244,1.00);}
.r-56xrmm{line-height:12px;}
.r-6026j{background-color:rgba(255,255,255,0.85);}
.r-633pao{pointer-events:none!important;}
.r-6416eg{-moz-transition-property:background-color, box-shadow;-webkit-transition-property:background-color, box-shadow;transition-property:background-color, box-shadow;}
.r-64el8z{min-width:52px;}
.r-68jxh1{min-width:500px;}
.r-7h7f8p{max-width:100vw;}
.r-7q8q6z{cursor:default;}
.r-8akbws{-webkit-box-orient:vertical;}
.r-8jfcpp{top:-2px;}
.r-92ng3h{width:1px;}
.r-a023e6{font-size:15px;}
.r-adyw6z{font-size:20px;}
.r-agouwx{transform:translateZ(0);}
.r-ah5dr5>*{pointer-events:none;}
.r-ah5dr5{pointer-events:auto!important;}
.r-aqfbo4{backface-visibility:hidden;}
.r-b88u0q{font-weight:700;}
.r-bcqeeo{min-width:0px;}
.r-bnwqim{position:relative;}
.r-bt1l66{min-height:20px;}
.r-bvlit7{margin-bottom:-12px;}
.r-clrlgt{animation-name:r-imtty0;}
.r-deolkf{box-sizing:border-box;}
.r-dflpy8{height:1.2em;}
.r-dnmrzs{max-width:100%;}
.r-ehq7j7{background-size:contain;}
.r-emqnss{transform:translateZ(0px);}
.r-eqz5dr{flex-direction:column;}
.r-ero68b{min-height:40px;}
.r-fa1dwr{animation-timing-function:cubic-bezier(0.25, 0.1, 0.25, 1);}
.r-fdjqy7{text-align:left;}
.r-fm7h5w{font-family:"TwitterChirpExtendedHeavy","Verdana",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;}
.r-g6jmlv{width:100vw;}
.r-gf0ln{-webkit-filter:brightness(1);filter:brightness(1);}
.r-h9hxbl{width:1.2em;}
.r-htvplk{min-width:600px;}
.r-icoktb{opacity:0.5;}
.r-ifefl9{min-height:0px;}
.r-impgnl{transform:translateX(50%) translateY(-50%);}
.r-iphfwy{padding-bottom:4px;}
.r-ipm5af{top:0px;}
.r-jmul1s{transform:scale(1.1);}
.r-jwli3a{color:rgba(255,255,255,1.00);}
.r-kemksi{background-color:rgba(0,0,0,1.00);}
.r-kwpbio{height:650px;}
.r-lp5zef{min-width:24px;}
.r-lrsllp{width:24px;}
.r-lrvibr{-moz-user-select:none;-webkit-user-select:none;user-select:none;}
.r-lrx3fh{width:500px;}
.r-m6rgpd{vertical-align:text-bottom;}
.r-majxgm{font-weight:500;}
.r-n1ft60{dynamic-range-limit:standard;}
.r-n6v787{font-size:13px;}
.r-nhe8su{animation-duration:0.5s;}
.r-nvplwv{animation-timing-function:ease-out;}
.r-nwxazl{line-height:40px;}
.r-o7ynqc{transition-duration:0.2s;}
.r-obd0qt{align-items:flex-end;}
.r-orgf3d{opacity:0;}
.r-peo1c{min-height:44px;}
.r-poiln3{font-family:inherit;}
.r-pp5qcn{vertical-align:-20%;}
.r-q4m81j{text-align:center;}
.r-qlhcfr{font-size:0.001px;}
.r-qvk6io{line-height:0px;}
.r-qvutc0{word-wrap:break-word;}
.r-rjixqe{line-height:20px;}
.r-rki7wi{bottom:12px;}
.r-rsyp9y{max-height:90vh;}
.r-s67bdx{font-size:48px;}
.r-sb58tz{max-width:1000px;}
.r-tjvw6i{text-decoration-thickness:1px;}
.r-u6sd8q{background-repeat:no-repeat;}
.r-u8s1d{position:absolute;}
.r-ueyrd6{line-height:36px;}
.r-uho16t{font-size:34px;}
.r-uz7a3o{min-width:650px;}
.r-vkv6oe{min-width:40px;}
.r-vqxq0j{border:0 solid black;}
.r-vrz42v{line-height:28px;}
.r-vvn4in{background-position:center;}
.r-wy61xf{height:72px;}
.r-x3cy2q{background-size:100% 100%;}
.r-x572qd{background-color:rgba(247,249,249,1.00);}
.r-xigjrr{-webkit-filter:blur(4px);filter:blur(4px);}
.r-yc9v9c{width:22px;}
.r-yn5ncy{animation-fill-mode:both;}
.r-yy2aun{font-size:26px;}
.r-yyyyoo{fill:currentcolor;}
.r-z2knda{transition-timing-function:ease;}
.r-z7pwl0{max-width:700px;}
.r-z80fyv{height:20px;}
.r-zchlnj{right:0px;}
@-webkit-keyframes r-11cv4x{0%{transform:rotate(0deg);}100%{transform:rotate(360deg);}}
@-webkit-keyframes r-1qpf3yi{0%{opacity:0;transform:scale3d(0.92, 0.92, 1);}100%{opacity:1;transform:scale3d(1, 1, 1);}}
@-webkit-keyframes r-7bj9g2{0%{opacity:1;transform:scale3d(1, 1, 1);}100%{opacity:0;transform:scale3d(0.92, 0.92, 1);}}
@-webkit-keyframes r-imtty0{0%{opacity:0;}100%{opacity:1;}}
@-webkit-keyframes r-t2lo5v{0%{opacity:1;}100%{opacity:0;}}
@keyframes r-11cv4x{0%{transform:rotate(0deg);}100%{transform:rotate(360deg);}}
@keyframes r-1qpf3yi{0%{opacity:0;transform:scale3d(0.92, 0.92, 1);}100%{opacity:1;transform:scale3d(1, 1, 1);}}
@keyframes r-7bj9g2{0%{opacity:1;transform:scale3d(1, 1, 1);}100%{opacity:0;transform:scale3d(0.92, 0.92, 1);}}
@keyframes r-imtty0{0%{opacity:0;}100%{opacity:1;}}
@keyframes r-t2lo5v{0%{opacity:1;}100%{opacity:0;}}
.r-6m4bhl{position:absolute;visibility:hidden;top:0;width:50px;pointer-events:none}
.r-6m4bhl.loaded{visibility:visible;top:50vh;width:50px}

    body {
      -ms-overflow-style: scrollbar;
      overflow-y: scroll;
      overscroll-behavior-y: none;
    }

    .errorContainer {
      background-color: #FFF;
      color: #0F1419;
      max-width: 600px;
      margin: 0 auto;
      padding: 10%;
      font-family: Helvetica, sans-serif;
      font-size: 16px;
    }

    .errorButton {
      margin: 3em 0;
    }

    .errorButton a {
      background: #1DA1F2;
      border-radius: 2.5em;
      color: white;
      padding: 1em 2em;
      text-decoration: none;
    }

    .errorButton a:hover,
    .errorButton a:focus {
      background: rgb(26, 145, 218);
    }

    .errorFooter {
      color: #657786;
      font-size: 80%;
      line-height: 1.5;
      padding: 1em 0;
    }

    .errorFooter a,
    .errorFooter a:visited {
      color: #657786;
      text-decoration: none;
      padding-right: 1em;
    }

    .errorFooter a:hover,
    .errorFooter a:active {
      text-decoration: underline;
    }

      #placeholder,
      #react-root {
        display: none !important;
      }
      body {
        background-color: #FFF !important;
      }
    
